* {
  font-family: var(--font-sans);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.no-transition,
.no-transition:before {
  transition: none !important;
}

body {
  background-color: var(--background-elevated);
  height: auto;
  min-width: 300px;
  position: relative;
  padding: 4px 0;
  overscroll-behavior: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 8px;
}

.group {
  padding: 4px 0;
  list-style: none;
  border-bottom: 1px solid var(--separator);
}

.group:empty {
  display: none;
}

.group:last-child {
  border-bottom: none;
}

.group:has(+ .group:empty) {
  border: 0;
}

.item {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  font-size: 13px;
  padding: 0 16px;
}

.item > .left-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.item.separated {
  margin-bottom: 4px;
}

.right-detail {
  color: var(--neutral-secondary);
  width: auto;
  flex-shrink: 0;
}

.nav-index > .left-detail,
.nav-index > .right-detail {
  pointer-events: none;
  min-width: 0;
}

.label,
.label-large {
  color: var(--neutral-primary);
}

.label {
  font-size: 13px;
  margin-right: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-icon + .label {
  margin-left: 12px;
}

.label-large {
  font-size: 15px;
  line-height: 20px;
}

.accelerator {
  color: var(--neutral-secondary);
}

.selected .accelerator {
  color: var(--neutral-primary);
}

.selected {
  background: var(--neutral-tertiary);
}

.item-icon {
  height: 20px;
  width: 20px;
  min-width: 20px;
  background-color: var(--neutral-secondary);
}

.left-detail .item-icon {
  background-color: var(--neutral-secondary);
}

.right-detail .item-icon {
  background-color: var(--neutral-secondary);
}

.left-detail .item-icon.active {
  background-color: var(--primary);
}

.item-icon.padding {
  -webkit-mask-image: url(../images/padding.svg);
  mask-image: url(../images/padding.svg);
}

.item-icon.delete {
  -webkit-mask-image: url(../images/delete.svg);
  mask-image: url(../images/delete.svg);
}

.item-icon.layout {
  -webkit-mask-image: url(../images/layout.svg);
  mask-image: url(../images/layout.svg);
}

.item-icon.add {
  -webkit-mask-image: url(../images/add.svg);
  mask-image: url(../images/add.svg);
}

#savedLayouts .delete {
  pointer-events: all;
}

#savedLayouts .delete:hover {
  background-color: var(--neutral-primary);
}