* {
  font-family: var(--font-sans);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.no-transition,
.no-transition:before {
  transition: none !important;
}

body {
  background-color: var(--background-elevated);
  width: 800px;
  height: 525px;
  position: relative;
  overflow: hidden;
  overscroll-behavior: none;
}

.hidden {
  opacity: 0;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.menu {
  overflow: auto;
  flex: 0 0 300px;
  border-left: 1px solid var(--separator);
  height: 100vh;
  padding: 4px 0;
  overscroll-behavior: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 8px;
}

.grid-container {
  overflow: hidden;
  background: var(--background);
  position: relative;
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../images/dotted_bg_light.svg);
  background-repeat: repeat;
}

@media (prefers-color-scheme: dark) {
  .grid-container {
    background-image: url(../images/dotted_bg_dark.svg);
  }
}

.grid-stage {
  box-shadow: inset 0px 0px 0px 1px var(--neutral-primary),
    0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  padding: 12px;
  position: relative;
  margin: auto;
  display: inline-block;
  transition: 0.4s;
  background: var(--background);
}

.grid {
  user-select: none;
  height: 230px;
  width: 350px;
  border-collapse: collapse;
}

.cell {
  border: 1px solid var(--cell);
  position: relative;
  cursor: crosshair;
}

.cell.highlight {
  background-color: var(--cell-highlighted);
}

.rectangle{
  padding: 4px;
  position: absolute;
  pointer-events: none;
}

.rectangle > div {
  border: 1px solid var(--primary);
  background-color: var(--rect-fill);
  border-radius: 6px;
  position: relative;
  width: 100%;
  height: 100%;
}

.rectangle > div:before {
  content: "";
  height: 14px;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid var(--primary);
  background-color: var(--rect-fill);
  top: 0;
  left: 0;
  border-radius: 6px 6px 0 0;
}

.rectangle > div:after {
  content: "";
  height: 4px;
  width: 4px;
  position: absolute;
  box-shadow: inset 0px 0px 0px 1px var(--primary);
  top: 5px;
  left: 5px;
  border-radius: 50%;
}

.group {
  padding: 4px 0;
  list-style: none;
  border-bottom: 1px solid var(--separator);
}

.group:empty {
  display: none;
}

.group:last-child {
  border-bottom: none;
}

.group:has(+ .group:empty) {
  border: 0;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  font-size: 13px;
  padding: 0 16px;
}

.item > .left-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.right-detail {
  color: var(--neutral-secondary);
  width: auto;
  flex-shrink: 0;
}

.nav-index > .left-detail,
.nav-index > .right-detail {
  pointer-events: none;
  min-width: 0;
}

select {
  pointer-events: all;
  appearance: none;
  border: none;
  outline: none;
  font-size: 13px;
  color: var(--neutral-primary);
  padding: 0 28px 0 8px;
  height: 32px;
  border-radius: 4px;
  background: var(--background-elevated);
  border: 1px solid var(--separator);
}

select:focus {
  box-shadow: 0px 0px 0px 2px var(--track-active);
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.select:after {
  content: "";
  background-color: var(--neutral-secondary);
  height: 20px;
  width: 20px;
  -webkit-mask-image: url(../images/dropdown.svg);
  mask-image: url(../images/dropdown.svg);
  position: absolute;
  right: 4px;
  pointer-events: none;
}

.switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 28px;
  height: 12px;
}

.switch input {
  display: none;
}

.track {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 16px;
  background-color: var(--track);
}

.track:before {
  position: absolute;
  content: "";
  transition: 0.4s;
  height: 16px;
  width: 16px;
  left: -3px;
  bottom: -2px;
  background-color: var(--handle);
  border-radius: 12px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15),
    0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

input:checked + .track:before {
  background-color: var(--primary);
  transform: translateX(11px);
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: -2px;
}

input:checked + .track {
  background-color: var(--track-active);
}

.label,
.label-large {
  color: var(--neutral-primary);
}

.label {
  font-size: 13px;
  margin-right: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-icon + .label {
  margin-left: 12px;
}

.label-large {
  font-size: 15px;
  line-height: 20px;
}

.accelerator {
  color: var(--neutral-secondary);
}

.selected .accelerator {
  color: var(--neutral-primary);
}

.selected {
  background: var(--neutral-tertiary);
}

.item-icon {
  height: 20px;
  width: 20px;
  min-width: 20px;
  background-color: var(--neutral-secondary);
}

.left-detail .item-icon {
  background-color: var(--neutral-secondary);
}

.right-detail .item-icon {
  background-color: var(--neutral-secondary);
}

.item-icon.gridSize {
  -webkit-mask-image: url(../images/grid.svg);
  mask-image: url(../images/grid.svg);
}

.item-icon.apply {
  -webkit-mask-image: url(../images/apply.svg);
  mask-image: url(../images/apply.svg);
}

.item-icon.save {
  -webkit-mask-image: url(../images/save.svg);
  mask-image: url(../images/save.svg);
}

.item-icon.padding {
  -webkit-mask-image: url(../images/padding.svg);
  mask-image: url(../images/padding.svg);
}

.item-icon.delete {
  -webkit-mask-image: url(../images/delete.svg);
  mask-image: url(../images/delete.svg);
}

.item-icon.layout {
  -webkit-mask-image: url(../images/layout.svg);
  mask-image: url(../images/layout.svg);
}

#savedLayouts .delete {
  display: none;
  pointer-events: all;
}

#savedLayouts .delete:hover {
  background-color: var(--neutral-primary);
}

#savedLayouts .item:hover .delete {
  display: block;
}

#savedLayouts:not(:empty)::before {
  content: 'Saved layouts';
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: 500;
  color: var(--neutral-secondary);
  display: block;
}

.edge .switch {
  width: 40px;
  height: 20px;
}

.edge .track {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 1px var(--neutral-secondary);
}

.edge .track:before {
  height: 10px;
  width: 10px;
  left: 5px;
  bottom: 5px;
  background-color: var(--neutral-primary);
  border-radius: 5px;
  box-shadow: none;
}

.edge input:checked + .track:before {
  background-color: var(--background);
  transform: translateX(20px);
  height: 10px;
  width: 10px;
  left: 5px;
  bottom: 5px;
}

.edge input:checked + .track {
  background-color: var(--primary);
  box-shadow: none;
}

.edge .left-detail .item-icon {
  background-color: var(--neutral-primary);
}

.edge select {
  border-radius: 2px;
}

.actions {
  position: absolute;
  right: 16px;
  bottom: 16px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-elevated);
  border: 1px solid var(--separator);
  border-radius: 4px;
  overflow: hidden;
}

.edge .actions {
  border-radius: 2px;
}

.action {
  height: 32px;
  width: 32px;
  background: transparent;
  outline: none;
  border: none;
  padding: 6px;
}

.action:hover {
  background: var(--neutral-quaternary);
}

.action .item-icon {
  pointer-events: none;
  background: var(--neutral-secondary);
}

.action:hover .item-icon {
  background: var(--neutral-primary);
}

.item-icon.clear {
  -webkit-mask-image: url(../images/clear.svg);
  mask-image: url(../images/clear.svg);
}

.item-icon.undo {
  -webkit-mask-image: url(../images/undo.svg);
  mask-image: url(../images/undo.svg);
}

.item-icon.redo {
  -webkit-mask-image: url(../images/redo.svg);
  mask-image: url(../images/redo.svg);
}

.actions .disabled {
  pointer-events: none;
}

.actions .disabled .item-icon {
  opacity: 0.3;
}

.gridSize {
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.action-group {
  border-right: 1px solid var(--separator);
}

.action-group:last-child {
  border-right: none;
}