:root {
  color-scheme: light;
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;
  --primary: #723DCC;
  --on-surface: #1D1B1E;
  --on-surface-variant: #49454E;
  --surface: #FEF8FC;
  --surface-container: #F2ECF1;
  --surface-container-highest: #E6E1E6;
  --outline-variant: #CBC4CF;
  --primary70: #BD99FF;
  --rect-fill: rgba(114, 61, 204, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --primary: #D4BBFF;
    --on-surface: #CAC5CA;
    --on-surface-variant: #CBC4CF;
    --surface: #141316;
    --surface-container: #211F22;
    --surface-container-highest: #363438;
    --outline-variant: #49454E;
    --primary70: #8C59E7;
    --rect-fill: rgba(114, 61, 204, 0.05);
  }
}